[submodule "CoreMeta"]
	path = CoreMeta
	url = https://github.com/jgretz/CoreMeta.git
[submodule "Cereal"]
	path = Cereal
	url = https://github.com/jgretz/Cereal.git
[submodule "FaceRecognition"]
	path = FaceRecognition
	url = https://github.com/mjp/FaceRecognition.git
